body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: papayawhip;
}

.controls {
    position: absolute;
    top: 20px;
    left: 20px;
}

#start {
    margin-top: 10px;
}

.circle {
    position: absolute;
    background-color: mediumpurple;
    border-radius: 50%;
    cursor: pointer;
}
